<h1>Song Show Page</h1>
<h1><%= @song.name %></h1>

<div>
  <ul>
    <li><%= link_to @song.artist_id, artist_path(@song.artist_id) %></li>
    <li><%= link_to @song.genre_id, genre_path(@song.genre_id) %></li>
  </ul>
</div>
